.container {
  overflow-x: auto;
  max-width: 1200px;
  padding: 0 5px;
  margin: 0 auto;
  min-height: 100vh;
}
@media screen and (max-width: 1205px) {
  .container {
    max-width: 800px;
  }
}
@media screen and (max-width: 805px) {
  .container {
    max-width: 576px;
  }
}
